@font-face {
  font-family: 'Pokemon';
  src: url('/assets/fonts/pokemon.woff2') format('woff2'),
    url('/assets/fonts/pokemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pokemon';
}

main {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.pokedex-container {
  position: relative;
  flex: 0 1 400px;
}

.pokedex-form {
  background-color: red;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 95% 24% 12% 9%;
  overflow: hidden;

  input {
    height: 20%;
    width: 70%;
    border: 0;
    background-color: #46a744;
    border-radius: 2vw;
    box-sizing: border-box;
  }

  button {
    height: 10vw;
    width: 10vw;
    box-sizing: border-box;
  }

  button img {
    max-width: 25px;
    width: 3.3vw;
    height: 100%;
  }
}

.pokedex-image {
  width: 100%;
  -webkit-user-drag: none;
}

.pokemon-image {
  position: absolute;
  top: 37%;
  left: 50%;
  height: 13%;
  transform: translate(-84%, 0);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}
