@import './typeColors';

@font-face {
  font-family: 'Pokemon';
  src: url('/assets/fonts/pokemon.woff2') format('woff2'),
    url('/assets/fonts/pokemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100vh;
  font-family: 'Pokemon', system-ui, sans-serif;
  background: no-repeat url('/assets/images/landscape.webp') center;
  backdrop-filter: blur(6px);
}

main {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.pokedex-container {
  position: relative;
  flex: 0 1 400px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 7.25));

  &::after {
    content: '';
    display: block;
    background: url('/assets/images/background.png') center/179%;
    background-position: -30% -135%;
    width: 67%;
    height: 30%;
    top: 25%;
    left: 43%;
    transform: translateX(-50%);
    z-index: -10;
    position: absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
  }
}

.pokedex-form {
  // background-color: red;
  display: flex;
  flex-direction: column;
  gap: 18%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 95% 24% 12% 9%;
  overflow: hidden;

  .input-container {
    display: flex;
    justify-content: space-between;

    input {
      width: 78%;
      padding: 6px 12px;
      border: 0;
      background-color: #46a744;
      color: #fff;
      font-weight: 500;
      text-shadow: 0 1px 4px black;
      border-radius: 1vw;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 15.5%;
      padding-bottom: 15%;
      max-height: 15%;
      border: 0;
      background-color: #fff;
      border-radius: 1vw;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
    }

    button img {
      width: 40%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .control-container {
    display: flex;
    gap: 6%;

    > button {
      flex: 1;
      background-color: #303030;
      padding-bottom: 15%;
      max-height: 15%;
      box-sizing: border-box;
      border-radius: 1vw;
      border: 0;
      position: relative;
      transition: transform 0.1s ease-out;
      cursor: pointer;
      transition: filter 0.15s ease-in-out;

      &:hover {
        filter: brightness(1.5);
      }

      > img {
        width: 16%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.btn-left img {
        left: 16%;
      }

      &.btn-right img {
        right: 0;
      }

      &.btn-left:active {
        transform: perspective(600px) rotateY(-15deg);
      }

      &.btn-right:active {
        transform: perspective(600px) rotateY(15deg);
      }
    }
  }
}

.pokedex-image {
  width: 100%;
  -webkit-user-drag: none;
}

.pokemon-image {
  position: absolute;
  bottom: 51%;
  left: 43%;
  max-height: 25%;
  min-height: 12%;
  transform: translate(-50%, 0);
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
}

.pokemon-info {
  display: flex;
  gap: 4px;
  flex-direction: column;
  position: absolute;
  top: 53%;
  right: 30%;
  align-items: flex-end;

  .pokemon-name {
    font-size: 18px;
    font-weight: 600;

    & span:first-child {
      font-size: 14px;
      color: #5e5e5e;

      &::before {
        content: '#';
        font-family: sans-serif;
        font-size: 18px;
        margin-right: 2px;
      }
    }
  }
  .pokemon-type-list {
    display: flex;
    gap: 4px;

    .pokemon-type-item {
      font-size: 14px;
      padding: 2px 4px;
      border-radius: 4px;

      &.normal {
        background-color: $normal;
      }
      &.fire {
        background-color: $fire;
      }
      &.water {
        background-color: $water;
      }
      &.grass {
        background-color: $grass;
      }
      &.electric {
        background-color: $electric;
      }
      &.ice {
        background-color: $ice;
      }
      &.fighting {
        background-color: $fighting;
      }
      &.poison {
        background-color: $poison;
      }
      &.ground {
        background-color: $ground;
      }
      &.flying {
        background-color: $flying;
      }
      &.psychic {
        background-color: $psychic;
      }
      &.bug {
        background-color: $bug;
      }
      &.rock {
        background-color: $rock;
      }
      &.ghost {
        background-color: $ghost;
      }
      &.dark {
        background-color: $dark;
      }
      &.dragon {
        background-color: $dragon;
      }
      &.steel {
        background-color: $steel;
      }
      &.fairy {
        background-color: $fairy;
      }
    }
  }
}
